@{
    ViewData["Title"] = "Home Page";
}
<form id="login" method="post">

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <label>Username</label>
        <input type="text" id="username" name="username" />
    <label>password</label>
        <input type="password" id="password" name="password" />
    <input type="submit" />
</div>

</form> 