@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
} 

 
 
<!-- Edit ITEM Modal -->
<div class="modal fade" id="itemEditModal" tabindex="-1" aria-labelledby="itemEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemEditModalLabel">Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="itemEditForm">
                    <div class="row g-3">
                        <input type="hidden" name="id" value="">
                        <div class="col-md-6">
                            <label class="form-label">Manufacturer Name</label>
                            <input type="text" class="form-control" name="manufacturerName" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Party Manufacturer Name</label>
                            <input type="text" class="form-control" name="partyManufacturerName">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Material Number</label>
                            <input type="text" class="form-control" name="materialNumber" required>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Product Name</label>
                            <input type="text" class="form-control" name="productName">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Description</label>
                            <input type="text" class="form-control" name="description">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Quantity</label>
                            <input type="number" class="form-control" name="quantity" required>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Unit Price</label>
                            <input type="number" step="0.01" class="form-control" name="unitPrice" required>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Total Price</label>
                            <input type="number" step="0.01" class="form-control" name="totalPrice" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Unit Price USD</label>
                            <input type="number" step="0.01" class="form-control" name="unitPriceUSD">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Total USD</label>
                            <input type="number" step="0.01" class="form-control" name="totalUSD" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Payment Terms</label>
                            <input type="text" class="form-control" name="paymentTerms">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Purchase Order No</label>
                            <input type="text" class="form-control" name="purchaseOrderNo">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Contract No</label>
                            <input type="text" class="form-control" name="contractNo">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Sign Off</label>
                            <input type="text" class="form-control" name="signOff">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Remark</label>
                            <input type="text" class="form-control" name="remark">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Materials Sent</label>
                            <input type="text" class="form-control" name="materialsSent">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Department</label>
                            <input type="text" class="form-control" name="department">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Manager</label>
                            <input type="text" class="form-control" name="manager">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Fixed Asset Number</label>
                            <input type="text" class="form-control" name="fixedAssetNumber">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Serial Number</label>
                            <input type="text" class="form-control" name="serialNumber">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Location</label>
                            <input type="text" class="form-control" name="location">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">PIC</label>
                            <input type="text" class="form-control" name="PIC">
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">NOTE</label>
                            <textarea class="form-control" name="NOTE"></textarea>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Acc Depreciation</label> 
                            <input type="text" class="form-control" name="accumulatedDepreciation" />
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Category</label> 
                            <input type="text" class="form-control" name="category" />
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Net Book Value</label> 
                            <input type="text" class="form-control" name="netBookValue" />
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Useful Life</label>
                            <input type="text" class="form-control" name="usefulLife"/>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Capitalization Date</label>
                            <input type="date" class="form-control" name="capitalizationDate"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="saveItemBtn">Guardar</button>
            </div>
        </div>
    </div>
</div>




<div>
    Upload from template
    <form asp-controller="FAI" asp-action="Upload" method="post" enctype="multipart/form-data">
        <div>
            <input type="file" name="file" class="btn default" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </form>
</div>

<table class="table" id="tblInv">
    <thead> 
        <tr>   
            <th>ID                  </th>
            <th>Manufacturer Name   </th> 
            <th>Material Number     </th>
            <th>Product Name        </th>
            <th>Description         </th>
            <th>Quantity            </th>
            <th>Unit Price          </th>
            <th>Total Price         </th>
            <th>Edit / Delete       </th>
        </tr>
    </thead>
    <tbody> 
    </tbody>
</table>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />


<!-- DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">    
    var tbl=null;
    function getData(){
        var data=[]; 
        tbl=$('#tblInv').DataTable(
        {
            ajax: {
            url: '/FAI/GetTableData', // tu endpoint en NetCore
            type: 'GET' //,
           // dataSrc: '' // "dataSrc" si tu API regresa un array, o "data" si regresa { data: [...] }
            },
            columns: [
                { data: 'id'                },
                { data: 'manufacturerName'  },
                { data: 'materialNumber'    },
                { data: 'productName'       },
                { data: 'description'       },
                { data: 'quantity'          },
                { data: 'unitPrice'         },
                { data: 'totalPrice'        },
                { data: null,
                    render:function(data, type, row){
                        var strBtns='<button id="edit_'+data.id+'" type="button" class="btn btn-primary btnEdit" data-bs-toggle="modal" data-bs-target="#itemEditModal"><i class="fas fa-pencil-alt"></i></button>';
                        strBtns   +="<button id='delete_"+data.id+"' class='btn btn-danger btnDelete'><i class='fas fa-trash-can'></i></button>";
                        return strBtns;
                    },
                    orderable: false,
                    searchable: false
                }
            ]
        }); 
    }
    function clearModal(){

                $('input[name="id"]').val("");
                $('input[name="manufacturerName"]').val("");
                $('input[name="partyManufacturerName"]').val("");
                $('input[name="materialNumber"]').val("");
                $('input[name="productName"]').val("");
                $('input[name="description"]').val("");
                $('input[name="quantity"]').val("");
                $('input[name="unitPrice"]').val("");
                $('input[name="totalPrice"]').val("");

                $('input[name="unitPriceUSD"]').val("");
                $('input[name="totalUSD"]').val("");
                $('input[name="paymentTerms"]').val("");
                $('input[name="purchaseOrderNo"]').val("");
                $('input[name="contractNo"]').val("");

                $('input[name="signOff"]').val("");
                $('input[name="remark"]').val("");
                $('input[name="materialsSent"]').val("");
                $('input[name="department"]').val("");
                $('input[name="manager"]').val("");

                $('input[name="fixedAssetNumber"]').val("");
                $('input[name="serialNumber"]').val("");
                $('input[name="location"]').val("");
                $('input[name="PIC"]').val("");
                $('[name="NOTE"]').val("");
    }
    
    $(document).on("click","#saveItemBtn",function(e){
        var id=$(this).attr("id").split("_")[1]; 
        $.post('/FAI/EditItem',
            {
                id:$('input[name="id"]').val(),
                manufacturerName:$('input[name="manufacturerName"]').val(),
                partyManufacturerName:$('input[name="partyManufacturerName"]').val(),
                materialNumber:$('input[name="materialNumber"]').val(),
                productName:$('input[name="productName"]').val(),
                description:$('input[name="description"]').val(),

                quantity:$('input[name="quantity"]').val(),
                unitPrice:$('input[name="unitPrice"]').val(),
                totalPrice:$('input[name="totalPrice"]').val(),

                unitPriceUSD:$('input[name="unitPriceUSD"]').val(),
                totalUSD:$('input[name="totalUSD"]').val(),
                paymentTerms:$('input[name="paymentTerms"]').val(),
                purchaseOrderNo:$('input[name="purchaseOrderNo"]').val(),
                contractNo:$('input[name="contractNo"]').val(),

                signOff:$('input[name="signOff"]').val(),
                remark:$('input[name="remark"]').val(),
                materialsSent:$('input[name="materialsSent"]').val(),
                department:$('input[name="department"]').val(),
                manager:$('input[name="manager"]').val(),

                fixedAssetNumber:$('input[name="fixedAssetNumber"]').val(),
                serialNumber:$('input[name="serialNumber"]').val(),
                location:$('input[name="location"]').val(),
                PIC:$('input[name="PIC"]').val(),
                NOTE:$('[name="NOTE"]').val(),

                accumulatedDepreciation:$('input[name="accumulatedDepreciation"]').val(),
                category:$('input[name="category"]').val(),
                netBookValue:$('input[name="netBookValue"]').val(),
                usefulLife:$('input[name="usefulLife"]').val(),
                capitalizationDate:$('[name="capitalizationDate"]').val()
            },
            function(resp){ 
                alert("Changes were saved");
        });
    });
    
    $(document).on("click",".btnEdit",function(e){ 
        clearModal();
        $("#saveItemBtn").attr("disabled",true);

        var id = $(this).attr("id").split("_")[1]; 
        $.get('/FAI/GetItem',
            {id:id},
            function(resp){
                $("#saveItemBtn").attr("disabled",false);

                $('input[name="id"]').val(resp.data[0]["id"]);
                $('input[name="manufacturerName"]').val(resp.data[0]["manufacturerName"]);
                $('input[name="partyManufacturerName"]').val(resp.data[0]["partyManufacturerName"]);
                $('input[name="materialNumber"]').val(resp.data[0]["materialNumber"]);
                $('input[name="productName"]').val(resp.data[0]["productName"]);
                $('input[name="description"]').val(resp.data[0]["description"]);
                $('input[name="quantity"]').val(resp.data[0]["quantity"]);
                $('input[name="unitPrice"]').val(resp.data[0]["unitPrice"]);
                $('input[name="totalPrice"]').val(resp.data[0]["totalPrice"]);

                $('input[name="unitPriceUSD"]').val(resp.data[0]["unitPriceUSD"]);
                $('input[name="totalUSD"]').val(resp.data[0]["totalUSD"]);
                $('input[name="paymentTerms"]').val(resp.data[0]["paymentTerms"]);
                $('input[name="purchaseOrderNo"]').val(resp.data[0]["purchaseOrderNo"]);
                $('input[name="contractNo"]').val(resp.data[0]["contractNo"]);

                $('input[name="signOff"]').val(resp.data[0]["signOff"]);
                $('input[name="remark"]').val(resp.data[0]["remark"]);
                $('input[name="materialsSent"]').val(resp.data[0]["materialsSent"]);
                $('input[name="department"]').val(resp.data[0]["department"]);
                $('input[name="manager"]').val(resp.data[0]["manager"]);
                
                $('input[name="fixedAssetNumber"]').val(resp.data[0]["fixedAssetNumber"]);
                $('input[name="serialNumber"]').val(resp.data[0]["serialNumber"]);
                $('input[name="location"]').val(resp.data[0]["location"]);
                $('input[name="PIC"]').val(resp.data[0]["pic"]);
                $('[name="NOTE"]').val(resp.data[0]["note"]);


                $('input[name="accumulatedDepreciation"]').val(resp.data[0]["accumulatedDepreciation"]);
                $('input[name="category"]').val(resp.data[0]["category"]);
                $('input[name="netBookValue"]').val(resp.data[0]["netBookValue"]);
                $('input[name="usefulLife"]').val(resp.data[0]["usefulLife"]);
                $('[name="capitalizationDate"]').val(resp.data[0]["capitalizationDate"]);
                console.log(resp.data); 
        });
    });
    
    $(document).on("click",".btnDelete",function(e){
        var c = confirm("Are you sure you want to delete this item?");
        if(!c) return;
        var id = $(this).attr("id").split("_")[1];
        $.get('/FAI/DeleteItem',
            {id:id},
            function(resp){
                tbl.ajax.reload();
                alert("Item was Removed");
            }
        );
    });
    

    $(document).ready(function(){
        getData();
    });
</script>