@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
} 

 
 
<!-- Edit ITEM Modal -->
<div class="modal fade" id="itemEditModal" tabindex="-1" aria-labelledby="itemEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemEditModalLabel">Edit Register <label id="editId"></label></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div id="loader" class="modal-dialog modal-dialog-centered">
                    <div class="modal-content bg-transparent border-0 shadow-none">
                        <div class="modal-body d-flex justify-content-center align-items-center" style="height:200px;">
                            <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
                                <span class="visually-hidden">Cargando...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <form id="itemEditForm">
                    <div class="row g-3">
                        <input type="hidden" name="id" value="">
                        <div class="col-md-3">
                            <label class="form-label">Manufacturer Name</label>
                            <input type="text" class="form-control" name="manufacturerName" required>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Party Manufacturer Name</label>
                            <input type="text" class="form-control" name="partyManufacturerName">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Material Number</label>
                            <input type="text" class="form-control" name="materialNumber" required>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Product Name</label>
                            <input type="text" class="form-control" name="productName">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Description</label>
                            <input type="text" class="form-control" name="description">
                        </div> 
                        <div class="col-md-3">
                            <label class="form-label">Unit Price</label>
                            <input type="number" step="0.01" class="form-control" name="unitPrice" required>
                        </div> 
                        <div class="col-md-3">
                            <label class="form-label">Unit Price USD</label>
                            <input type="number" step="0.01" class="form-control" name="unitPriceUSD">
                        </div> 
                        <div class="col-md-3">
                            <label class="form-label">Payment Terms</label>
                            <input type="text" class="form-control" name="paymentTerms">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Purchase Order No</label>
                            <input type="text" class="form-control" name="purchaseOrderNo">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Contract No</label>
                            <input type="text" class="form-control" name="contractNo">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Sign Off</label>
                            <input type="text" class="form-control" name="signOff">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Materials Sent</label>
                            <input type="text" class="form-control" name="materialsSent">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Department</label>
                            <input type="text" class="form-control" name="department">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Manager</label>
                            <input type="text" class="form-control" name="manager">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Fixed Asset Number</label>
                            <input type="text" class="form-control" name="fixedAssetNumber">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Serial Number</label>
                            <input type="text" class="form-control" name="serialNumber">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Location</label>
                            <input type="text" class="form-control" name="location">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">PIC</label>
                            <input type="text" class="form-control" name="PIC">
                        </div> 
                        <div class="col-md-3">
                            <label class="form-label">Net Book Value</label> 
                            <input type="number" class="form-control" name="netBookValue" />
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Useful Life</label>
                            <input type="text" class="form-control" name="usefulLife"/>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Capitalization Date</label>
                            <input type="date" class="form-control" name="capitalizationDate"/>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Remarks</label>
                            <input type="text" class="form-control" name="remark">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">  
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="saveItemBtn">Guardar</button>
                <button type="button" class="btn btn-success" id="createNewItemBtn">Crear</button>
            </div>
        </div>
    </div>
</div>



<div>
    Upload from template
    <form asp-controller="FAI" asp-action="Upload" method="post" enctype="multipart/form-data">
        <input type="hidden" name="userName" value="@ViewData["username"]" />
        <input type="radio" id="template1" name="page" value="1" checked>
        <label for="template1">Page 1</label>
        <input type="radio" id="template2" name="page" value="2">
        <label for="template2">Page 2</label>
        <div>
            <input type="file" name="file" class="btn default" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </form>
</div>

<button id="btnNew" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#itemEditModal" style="float:right;">+ Add item</button>
<table class="table" id="tblInv">
    <thead> 
        <tr>   
            <th>ID                  </th>
            <th>Manufacturer Name   </th> 
            <th>Material Number     </th>
            <th>Product Name        </th>
            <th>Description         </th> 
            <th>Unit Price          </th>
            <th>Net Book Value      </th>
            <th>Edit / Delete       </th>
        </tr>
    </thead>
    <tbody> 
    </tbody>
</table>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />


<!-- DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">    
    var tbl=null;
    const loading = document.getElementById('loading');

    function getData(){
        var data=[]; 
        tbl=$('#tblInv').DataTable(
        {
            ajax: {
            url: '/FAI/GetTableData', // tu endpoint en NetCore
            type: 'GET' //,
           // dataSrc: '' // "dataSrc" si tu API regresa un array, o "data" si regresa { data: [...] }
            },
            columns: [
                { data: 'id'                },
                { data: 'manufacturerName'  },
                { data: 'materialNumber'    },
                { data: 'productName'       },
                { data: 'description'       }, 
                { data: 'unitPrice'         },
                { data: 'netBookValue'      },
                { data: null,
                    render:function(data, type, row){
                        var strBtns='<button id="edit_'+data.id+'" type="button" class="btn btn-primary btnEdit" data-bs-toggle="modal" data-bs-target="#itemEditModal"><i class="fas fa-pencil-alt"></i></button>';
                        strBtns   +="<button id='delete_"+data.id+"' class='btn btn-danger btnDelete'><i class='fas fa-trash-can'></i></button>";
                        return strBtns;
                    },
                    orderable: false,
                    searchable: false
                }
            ]
        }); 
    }
    function clearModal(){
                
        $('input[name="id"]').val("");

        $("input.form-control").each(function(i,ele){
            var name = $(ele).attr("name"); // propiedad 
                $(ele).val("");
        }); 
    }
    
    $(document).on("click","#createNewItemBtn",function(e){
        $("#createNewItemBtn").prop("disabled",true);
        var id=$(this).attr("id").split("_")[1]; 
        var data={};
        $("input.form-control").each(function(i,ele){
            var name = $(ele).attr("name"); // propiedad
            var value = $(ele).val();       // valor
            data[name]=value;
        });
        data["updatedBy"]=$('[name="userName"]').val();
        $.post('/FAI/CreateItem', data, function(resp){
            $("#createNewItemBtn").attr("disabled",false);
            alert(resp.msg);
        }).fail(function(xhr, status, error){
            $("#createNewItemBtn").attr("disabled",false);
        });
    });

    $(document).on("click","#saveItemBtn",function(e){
        $("#saveItemBtn").attr("disabled",true);
        var data={};
        $("input.form-control").each(function(i,ele){
            var name = $(ele).attr("name"); // propiedad
            var value = $(ele).val();       // valor
            data[name]=value;
        });
        data["id"]=$('input[name="id"]').val()
        data["updatedBy"]=$('[name="userName"]').val()
        $.post('/FAI/EditItem', data, 
            function(resp){
                $("#saveItemBtn").attr("disabled",false);
                alert("Changes were saved");
            }).fail(function(xhr, status, error){
                $("#saveItemBtn").attr("disabled",false);
            });
    });
    
    $(document).on("click",".btnEdit", function(e){
        $("#itemEditModalLabel").html("Edit Register");
        clearModal(); 
        $("#loader").show();
        $("#itemEditForm").hide();
        $("#saveItemBtn").show();
        $("#createNewItemBtn").hide();
        $("#saveItemBtn").attr("disabled",true);

        var id = $(this).attr("id").split("_")[1]; 
        $("#editId").html("["+id+"]");
        $.get('/FAI/GetItem',
        {id:id},
        function(resp){
            $("#itemEditForm").show(); 
            $("#loader").hide();
            $("#saveItemBtn").attr("disabled",false);

            for (var key in resp.data) {
                if (resp.data.hasOwnProperty(key)) {
                    // console.log(key, resp.data[key]);
                    var valor = resp.data[key];
                    var elemento = $('[name="' + key + '"]'); 
                    if(elemento.length > 0){
                        // Detectar si es campo de tipo date
                        if(elemento.attr('type') === 'date' && valor){
                            try {
                                let date = new Date(valor);
                                valor = date.toISOString().split('T')[0];
                            } catch (ex) {
                                valor = null;
                            }
                        }
                        elemento.val(valor);
                    }
                }
            }  
        }).fail(function(xhr, status, error){
            $("#saveItemBtn").attr("disabled",false);
        });
    });
    
    $(document).on("click",".btnDelete",function(e){
        var c = confirm("Are you sure you want to delete this item?");
        if(!c) return;
        var id = $(this).attr("id").split("_")[1];
        $.get('/FAI/DeleteItem',
            {id:id},
            function(resp){
                tbl.ajax.reload();
                alert(resp.message);
            }
        ).fail(function(xhr, status, error){
            alert("An Error has ocurred trrying to delete item");
        });
    });
    
    $(document).on("click","#btnNew",function(e){
        $("#itemEditModalLabel").html("New item");
        $("#loader").hide();
        $("#saveItemBtn").hide();
        $("#createNewItemBtn").show(); 
        clearModal();
    });

    $(document).ready(function(){
        getData();
    });
</script>